<script src="~/Scripts/autoNumeric/autoNumeric.min.js" type="text/javascript"></script>
<div class="content-container">
  
  <div class="parallax"></div> 

  <div class="row values-container">
    <h1 class="value">Centro esotérico Río Tercero</h1>

    <h3 class="value-h2">SOY ESPECIALISTA DEL AMOR</h3>

    <p class="value-p">Descubre los secretos que durante 30 años han tranquilizado a muchas parejas, 
      Conjuros de Amor para encontrar su alma gemela.
      Reconstrucion de parejas sentimentales, retorno y 
      amarres de parejas y uniones para toda la vida.
    </p>
    
    <!-- <div class="profile"></div>  -->

    <h3 class="value-h2">Licensiada Margareth de la Torre</h3>
    
  </div>
  
  <div class="row values-container">
    
    <div class="col-12">
      <div class="vl"></div> 
    </div> 
    <h5 class="value-h5">RECIBA UNA CONSULTA TOTALMENTE PERSONALIZADA</h5>
    

    <p class="value-p">Comuníquese conmigo y reciba la mejor atencion e información para
      mejorar su forma de vida y mejorar su relación y desempeño en la intimidad.
    </p>
  </div>

  
</div>

<div class="pair"></div>
