<script src="~/Scripts/autoNumeric/autoNumeric.min.js" type="text/javascript"></script>
<div class="content-container">

  <div class="parallax"></div>

  <div class="row values-container">
    <h1 class="value">Centro esotérico Río Tercero</h1>

    <h3 class="value-h2">SOY ESPECIALISTA DEL AMOR</h3>

    <p class="value-p">Descubre los secretos que durante 30 años han tranquilizado a muchas parejas,
      Conjuros de Amor para encontrar su alma gemela.
      Reconstrucion de parejas sentimentales, retorno y
      amarres de parejas y uniones para toda la vida.
    </p>

    <!-- <div class="profile"></div>  -->

    <h3 class="value-h2">Licensiada Margareth de la Torre</h3>

  </div>

  <div class="row values-container">

    <div class="col-12">
      <div class="vl"></div>
    </div>
    <h5 class="value-h5">RECIBA UNA CONSULTA TOTALMENTE PERSONALIZADA</h5>


    <p class="value-p">Comuníquese conmigo y reciba la mejor atencion e información para
      mejorar su forma de vida y mejorar su relación y desempeño en la intimidad.
    </p>
  </div>

  <!--  -->

  <div class="pair">
    <h1 class="pt-4">Paga después de ver resultados</h1>
    <!-- <hr style="color:white; margin: 4em; size:30;"> -->

    <div class="pt-4">

      <div class="row mt-4">
        <div class="col-5" style="text-align:right;">
          <h2 class="">¿QUÉ SERVICIOS OFRECEMOS?</h2>
        </div>
        <div class="col-1 align-self-center mt-2">

        </div>
        <div class="col-1 align-self-center mt-2">

        </div>
        <div class="col-5" style="text-align:left;">
          <h2 class="">¿QUE TRABAJOS REALIZAMOS?</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-5" style="text-align:right;">
          <h3 class="">Atención y respuesta inmediata</h3>
        </div>
        <div class="col-1 align-self-center mt-2">
          <fa name="chevron-left"></fa>
        </div>
        <div class="col-1 align-self-center mt-2">
          <fa name="chevron-right"></fa>
        </div>
        <div class="col-5" style="text-align:left;">
          <h3 class="">Amarres de amor</h3>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-5" style="text-align:right;">
          <h3 class="">Seguimiento diario del caso</h3>
        </div>
        <div class="col-1 align-self-center mt-2">
          <fa name="chevron-left"></fa>
        </div>
        <div class="col-1 align-self-center mt-2">
          <fa name="chevron-right"></fa>
        </div>
        <div class="col-5" style="text-align:left;">
          <h3 class="">Retorno de tu pareja</h3>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-5" style="text-align:right;">
          <h3 class="">Alto grado de efectividad</h3>
        </div>
        <div class="col-1 align-self-center mt-2">
          <fa name="chevron-left"></fa>
        </div>
        <div class="col-1 align-self-center mt-2">
          <fa name="chevron-right"></fa>
        </div>
        <div class="col-5" style="text-align:left;">
          <h3 class="">Unionies espirituales, aurales, energéticas y emocionales de forma natural</h3>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-5" style="text-align:right;">
          <h3 class="">Esfuerzo y profesionalismo</h3>
        </div>
        <div class="col-1 align-self-center mt-2">
          <fa name="chevron-left"></fa>
        </div>
        <div class="col-1 align-self-center mt-2">
          <fa name="chevron-right"></fa>
        </div>
        <div class="col-5" style="text-align:left;">
          <h3 class="">Sello para alejamiento de terceros en cualquier relación</h3>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-5" style="text-align:right;">
          <h3 class="">Privacidad y confidencialidad</h3>
        </div>
        <div class="col-1 align-self-center mt-2">
          <fa name="chevron-left"></fa>
        </div>
        <div class="col-1 align-self-center mt-2">
        </div>
        <div class="col-5" style="text-align:left;">
        </div>
      </div>

    </div>

    <div class="testimonios">

        <div class="row testimoniosRow ">
          <div class="col-2">
            <fa name="chevron-left"></fa>
          </div>
          <div class="col-8">
            <h2>Juana Veracruz</h2>
            <p> Soy Juana Veracruz, soy de Argentina quise dejar mi testimonio porque yo cansada 
            de las estafas desconfie d la Lic. Marcia Varouna y hasta la llegue a insultar.
            Sin embargo ella con paciencia y sabiduria me supo convencer de que ella estaba
            realizando el trabajo solo que por un par de cuestiones graves el trabajo se 
            complico bastante y tardo 20 dias en darme solucion pero realmente ella estuvo 
            en contacto conmigo esos dias mañana, tarde y noche y me soluciono mi problema.
            Mi novia me dejo por otra mujer y despues de esos 20 dias ella volvio y me 
            aclaro cosas que la Licenciada Me habia dicho y no le crei, obviamente llore,
            le super agradeci a la Lic. Marcia Varouna que me haya devuelto el amor de mi
            vida y ella con amor me dijo que me entendia y hasta el dia de hoy seguimos en contacto.
          </p>
          </div>
          <div class="col-2">
            <fa name="chevron-right"></fa>
          </div>
        
        </div>          

    </div>

    <div class="warap">

      <div class="warap1">

      </div>

    </div>

  </div>

</div>

