<div class="footer">
  <div class="branding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <div class="row justify-content-center terms">
            <p>Caucionar.com es una marca registrada de surety s.a. y está habilitada para operar bajo matricula XXX en
              superintendencia de seguros de la nación </p>
          </div>
          <div class="row dp-mobile">
              <a href="http://www.diproach.com" target="_blank">diproach.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>